<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
        <div class="col-xs-3">
          <a class="navbar-brand" href="/">Pairr</a>
        </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-3" id="github">
          <%= link_to "Sign In With Github", "/auth/github", class: "btn btn-default" %>
        </div>
    </div>
  </div>
</nav>
