/* universal */

.flash-notice {
  font-size: 20px;
  background-color: green;
}

.flash-alert {
  font-size: 20px;
  background-color: red;
}

/* header */

#github {
  margin-top: 10px;
}

#current-user-header {
  margin-top: 15px;
}
