/* universal */

.flash-notice {
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: green;
}

.flash-alert {
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: red;
}

/* header */

#github {
  margin-top: 10px;
}

#current-user-header {
  margin-top: 15px;
}

/* user info page */

#user-info-form {
  border: solid 1px black;
  padding: 15px;
}

#checklist {
  margin: 15px;
}

#desc-form {
  margin-top: 25px;
  padding: 25px;
}
