/* universal */

.flash-notice {
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: green;
}

.flash-alert {
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: red;
}

/* header */

#github {
  margin-top: 10px;
}

#current-user-header {
  margin-top: 15px;
}

/* user info page */

#user-info-form {
  border: solid 1px black;
  padding: 15px;
}

#checklist {
  margin: 15px;
}

#desc-form {
  margin-top: 25px;
  padding: 25px;
}

/* match page */

#match {
  text-align: center;
  margin-top: 200px;
  padding: 10px;
  border: solid black 1px;
}

#reject-button {
  float: left;
  margin-left: 25px;
}

#approve-button {
  float: right;
  margin-right: 25px;
}
